# Exclude Quarto artifacts
/.quarto/
/_site/
_freeze/
docs/site_libs

# Exclude big size file
/docs/notebooks/iframe_figures/

# Exclude python environment artifacts
.venv
/notebooks/__pycache__/
/notebooks/.ipynb_checkpoints/
