# Exclude Quarto artifacts
/.quarto/
/_site/
_freeze/
docs/site_libs

notebooks/iframe_figures/figure_5.html
docs/notebooks/iframe_figures/figure_5.html


# Exclude python environment artifacts
.venv
/notebooks/__pycache__/
/notebooks/.ipynb_checkpoints/
